name: Build ALL
run-name: Build ALL
on:
  workflow_dispatch: {}
  release:
    types: [published]

jobs:
  Build-ARM-RPM:
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'master'
          flutter-version-file: pubspec.yaml
      - run: |
          flutter pub get
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev webkit2gtk-4.1 rpm rpmdevtools
      - name: "Patch font"
        run: |
          dart run patch/font.dart
      - name: Build Fedora RPM
        run: python3 fedora/build.py arm64

      # 上传构建好的 .rpm 文件作为产物
      - name: Upload .rpm Artifact
        uses: actions/upload-artifact@v4
        with:
          name: venera-arm64-rpm
          path: build/linux/arm64/release/rpm/*.rpm

